[tool.poetry]
name = "kcare-uchecker"
version = "0.1.1"
description = "A simple tool to detect outdated shared libraries"
authors = ["Rinat Sabitov <rinat.sabitov@gmail.com>"]
license = "GPL-2.0-only"
readme = "README.md"
homepage = "https://kernelcare.com/"
repository = "https://github.com/cloudlinux/kcare-uchecker"
keywords = ["security-audit", "shared-libraries", "security-scanner", "security-tools", "secutiry"]
packages = [
    { include = "uchecker.py" },
]

[tool.poetry.dependencies]
python = "^3.7|^3.8|^3.9|^2.7"

[tool.poetry.scripts]
uchecker = 'uchecker:main'


[tool.poetry.dev-dependencies]
flake8 = "^3.8.4"
pytest = "^4.6"
pytest-cov = "^2.11.1"
mock = "^3"
[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

