[tool.poetry]
name = "kcare-uchecker"
version = "0.1.0"
description = "A simple tool to detect outdated shared libraries"
authors = ["Rinat Sabitov <rinat.sabitov@gmail.com>"]
license = "GPL-2.0-only"
packages = [
    { include = "uchecker.py" },
]

[tool.poetry.dependencies]
python = "^3.8|^2.7"

[tool.poetry.dev-dependencies]
flake8 = "^3.8.4"

[tool.poetry.scripts]
uchecker = 'uchecker:main'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

